<div id="edit-password"k>
  <div class="container pt-5 pb-5">
    <h1>Passwort ändern</h1>
    <hr/>
    <form action="/" method="POST">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="password">Neues Passwort</label>
            <input class="form-control" id="password" name="password" type="password"   placeholder="••••••••" autocomplete="new-password" focus-first>
            <div class="invalid-feedback" v-if="formErrors.password">Bitte geben Sie ein Passwort ein oder wählen Sie „Abbrechen“.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="confirm-password">Passwort bestätigen</label>
            <input class="form-control" id="confirm-password" name="confirm-password" type="password"  autocomplete="new-password" placeholder="••••••••">
            <div class="invalid-feedback" v-if="formErrors.confirmPassword">Die beiden Passwörter stimmen nicht überein.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <cloud-error v-if="cloudError"></cloud-error>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info" href="/account">Abbrechen</a>
            <button type="submit" class="btn btn-dark">Änderungen speichern</button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
