<div id="login">
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Melden Sie sich bei Ihrem Konto an</h1>
    <div style="max-width: 450px;" class="mx-auto">
      <hr/>
      <form action="login" method="POST">
        <div class="form-group">
          <input type="email" name="emailAddress" class="form-control" placeholder="Email address" autocomplete="email" focus-first required>
          <div class="invalid-feedback">Bitte geben Sie eine gültige E-Mail Adresse an.</div>
        </div>
        <div class="form-group">
          <input name="password" type="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
          <div class="invalid-feedback">Bitte geben Sie Ihr Passwort ein.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" type="checkbox" id="remember" name="rememberMe"/>
          <label class="form-check-label" for="remember">An mich Erinnern</label>
        </div>
        <div class="form-group">
          <button type="submit"class="btn-dark btn-lg btn-block">Anmelden</button>
        </div>
      </form>
      <p class="text-center"><a href="/password/forgot">Passwort vergessen?</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
