body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .content {
    margin-bottom: 100px; /* die Höhe des Footers */
  }