<div class="container-xxl">
    <div class="row mb-5">
        <div class="col">
            <div class="container-fluid text-center">
                <h1 class="display-4">Unsere Wöchentlichen Rabatte</h1>
                
                <div class="row mb-5">
                    <div class="col-md-6">
                        <h3>Erhalten Sie 20% Rabatt auf Vitalstoffe</h2> <br>
                        <div>
                            <img src="images/20Prozent.png" width="20%" alt="Bild">
                            <img src="images/vitalstoffe.png" width="20%" alt="Bild">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h2>Erhalten Sie 10% Rabatt auf jegliche Proteinpulver</h2>
                        <div>
                            <img src="images/10Prozent.png" width="20%" alt="Bild">
                            <img src="images/pulver1.png" width="10%" alt="Bild">
                            <img src="images/pulver2.png" width="20%" alt="Bild">
                            <img src="images/pulver3.png" width="20%" alt="Bild">
                            <img src="images/pulver4.png" width="20%" alt="Bild">
                        </div>
                    </div>
                </div>


                <h1 class="display-4">Unsere Produkte - NEU & ANGESAGT</h1>
                <div class="row mb-5">
                    <div class="col-md-6">

                        <h2>Besonders beliebt</h2> <br>
                        <div>
                            <img src="images/top1.png" width="10%" alt="Bild">
                            <img src="images/top2.png" width="10%" alt="Bild">
                            <img src="images/top3.png" width="10%" alt="Bild">
                        </div>

                    </div>

                    <div class="col-md-6">
                        <h2>Unsere Neuheiten</h2>
                        <div>
                            <img src="images/neu1.png" width="20%" alt="Bild">
                            <img src="images/neu2.png" width="20%" alt="Bild">
                            <img src="images/neu3.png" width="20%" alt="Bild">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 bg-light">
            <p class="lead">
                <h4>Wer wir sind</h4>
                Willkommen bei GreenVital, der Seite, die Ihnen alle nachhaltigen Produkte an einem Ort bietet! Wir sind stolz darauf, unseren Kunden eine breite Palette an Produkten anzubieten, die geprüfte nachhaltige und qualitativ hochwertige Herstellungsprozesse durchlaufen haben. Unser Ziel ist es, Sie fit und gesund zu halten, indem wir Ihnen die beste Auswahl an Produkten zur Verfügung stellen.
                Wir legen großen Wert auf die Qualität unserer Nahrungsergänzungsmittel und führen tägliche Kontrollen durch, um sicherzustellen, dass sie von den einzelnen Herstellern den höchsten Standards entsprechen. Nur das Beste vom Besten wird unseren Kunden angeboten.
                Unser breites Sortiment umfasst alles von Nahrungsergänzungsmitteln bis hin zu umweltfreundlichen Produkten. Unsere Produkte sind nicht nur gut für Sie, sondern auch für die Umwelt, da sie nachhaltig hergestellt werden.
                Als Kunde von GreenVital können Sie sicher sein, dass Sie die besten Produkte erhalten, die es auf dem Markt gibt.
                Wir sind stolz darauf, ein Teil Ihrer Gesundheitsreise zu sein und freuen uns darauf, Ihnen dabei zu helfen, das Beste aus sich herauszuholen. Vielen Dank, dass Sie sich für GreenVital entschieden haben.
            </p>
            <p class="lead">
                <h4>PREMIUM ROHSTOFFE</h4>
                <h6>Qualifiziertes Scouting</h6>
                Wir wählen weltweit nur Lieferanten und Hersteller, die durch die Standards IFS Food, FSMA, BRC, GMP und FSSC 22000 die Sicherheit und Qualität der Rohstoffe garantieren.
                Zusätzlich prüfen wir die eingehenden Rohstoffe sowohl durch unser hauseigenes Labor als auch durch externe akkreditierte Labore und entscheiden uns dann immer für die reinste und hochwertigste Qualität.
            </p>
        </div>
    </div>
</div>