<div id="app">
    <router-view></router-view>
</div>
<script type="module">

    import Catalog from "/vue/catalog.js";
    import Basket from "/vue/basket.js";
    import Address from "/vue/address.js";
    import Checkout from "/vue/checkout.js";
    import Confirmation from "/vue/confirmation.js";


    const routes = [
        { path: '/', component: Catalog },
        { path: '/basket', component: Basket },
        { path: '/address', component: Address },
        { path: '/checkout', component: Checkout },
        { path: '/confirmation', component: Confirmation },
    ]

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),
        routes, 
    })

    // 5. Create and mount the root instance.
    const app = Vue.createApp({});
    const vuetify = Vuetify.createVuetify();
    app.use(router);
    app.use(vuetify);
    app.mount('#app');
</script>